<!DOCTYPE html>
<html>

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <br>
                    <img src="../imagens/logo_bot_white.png" class="logo">
                </div>
                <div class="col-sm-2">
                    <h5>Inicio</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="https://www.mercadobitcoin.com.br/" target="_blank">Mercado Bitcoin</a></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre o  robô</h5>
                    <ul>
                        <li><a href="#">Ojetivo</a></li>
                        <li><a href="https://www.mercadobitcoin.com.br/api-doc/" target="_blank">API de Dados</a></li>
                        <li><a href="https://www.mercadobitcoin.com.br/trade-api/" target="_blank">API de Negociações</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Suporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <div class="title-footer">
                        <br>
                        <h2>Traderbot</h2>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-default">Dúvidas ou sujestões </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 | Developed by: Lucas Hoffmann</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="../js/main.js"></script>
</html>
